.form_wrap{
   padding: 0 50px
}
.form_wrap>form{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.input_wrap{
    display: flex;
    flex-direction: column;
    width: 45%;

    box-shadow: 2px 5px 5px lightgrey;
    border-radius: 30px;
    padding: 25px;
    gap: 15px;
}
.input_wrap>div{
    display: flex;
    width: 100%;
    gap: 20px;
}
.input_wrap>label{
    font-size: 32px;
}
.input{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: 1px solid lightgray;
    outline: none;
}